@using Presentation.WebApp.ViewModels
@{
    Layout = "Layouts/_AuthLayout";
}

@model RegisterPasswordVM

<form asp-controller="Authentication" asp-action="RegisterPassword" method="post" novalidate>

    <div>
        <label asp-for="@Model.Form.Password"></label>
        <input asp-for="@Model.Form.Password" />
        <span asp-validation-for="@Model.Form.Password"></span>
    </div>

    <div>
        <label asp-for="@Model.Form.ConfirmPassword"></label>
        <input asp-for="@Model.Form.ConfirmPassword" />
        <span asp-validation-for="@Model.Form.ConfirmPassword"></span>
    </div>


    <button type="submit">Continue</button>

</form>