@using Presentation.WebApp.ViewModels
@{
    Layout = "Layouts/_AuthLayout";

    //Title on the page
    ViewData["Title"] = "Register Password";
}

@model RegisterPasswordVM


<section class="section__sign-in">
    <div class="container">
        <div class="sign-in-area">
            <div class="sign-in-content">
                <h2>Set Your Password</h2>
                <p>Set a strong password to protect your account. For security reasons, your password must be at least 8 characters long and include uppercase and lowercase letters, numbers, and special characters.</p>
                <hr />
                
                <div class="sign-in-form-area">
                    <form asp-controller="Authentication" asp-action="RegisterPassword" method="post" novalidate>

                        <div class="auth-form-group">
                            <label class="sign-in-form-label required" asp-for="@Model.Form.Password"></label>
                            <input class="sign-in-form-input" asp-for="@Model.Form.Password" />
                            <span asp-validation-for="@Model.Form.Password"></span>
                        </div>

                        <div class="auth-form-group">
                            <label class="sign-in-form-label required" asp-for="@Model.Form.ConfirmPassword"></label>
                            <input class="sign-in-form-input" asp-for="@Model.Form.ConfirmPassword" />
                            <span asp-validation-for="@Model.Form.ConfirmPassword"></span>
                        </div>

                        <div class="continue-block">
                            <button class="btn btn--primary btn--icon continue-block-button" type="submit">Continue</button>
                            <div class="accept-terms">
                                <label for="" class=""><input type="checkbox" id="" name="" value="" class="form-checkbox" />Accept user terms and conditions</label>
                            </div>
                        </div>

                    </form>




                    


           


                </div>
                        
            </div>

        </div>
    </div>

</section>




@* 

<form asp-controller="Authentication" asp-action="RegisterPassword" method="post" novalidate>

    <div>
        <label asp-for="@Model.Form.Password"></label>
        <input asp-for="@Model.Form.Password" />
        <span asp-validation-for="@Model.Form.Password"></span>
    </div>

    <div>
        <label asp-for="@Model.Form.ConfirmPassword"></label>
        <input asp-for="@Model.Form.ConfirmPassword" />
        <span asp-validation-for="@Model.Form.ConfirmPassword"></span>
    </div>


    <button type="submit">Continue</button>

</form> *@